In [ ]:
import pandas as pd
rec_df = pd.read_pickle('recommender_df.pkl')

In [37]:
del df2
df2 = pd.read_csv('/Users/ethanweber/Downloads/LV_df.csv')

In [38]:
df2.iloc[:,[19, 1, 11, 20, 22, 23]]

,name_x,business_id,address,neighborhood,review_count_x,stars_y
0,TACOS EL GORDO,CiYLq33nAyghFkUR15pP-Q,1724 E Charleston Blvd,Downtown,1151.0,4.5
1,Holsteins Shakes and Buns,P7pxQFqr7yBKMMI2J51udw,3708 Las Vegas Blvd S,The Strip,2474.0,4.0
2,Hash House A Go Go,g8OnV26ywJlZpezdBnOWUQ,6800 W Sahara Ave,Westside,2835.0,4.0
3,Ice Box Canyon,xObQl57iTZrg8-hfMkMF6g,"Red Rock Canyon National Conservation Area, 32...",NaN,34.0,4.5
4,Mount Everest India's Cuisine,gTlDDzDEHyDQ6iwjNhpI6A,3641 W Sahara Ave,Westside,1015.0,4.5

In [39]:
print (list(df2.columns))
df2 = df2.iloc[:,[19, 1, 11, 20, 22, 23]].drop_duplicates()

['Unnamed: 0', 'business_id', 'cool_x', 'date', 'funny_x', 'review_id', 'stars_x', 'text', 'type_x', 'useful_x', 'user_id', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name_x', 'neighborhood', 'postal_code', 'review_count_x', 'stars_y', 'state', 'type_y', 'average_stars', 'compliment_cool', 'compliment_cute', 'compliment_funny', 'compliment_hot', 'compliment_list', 'compliment_more', 'compliment_note', 'compliment_photos', 'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool_y', 'elite', 'fans', 'friends', 'funny_y', 'name_y', 'review_count_y', 'type', 'useful_y', 'yelping_since']

In [50]:
import math
df2['score'] = map(math.sqrt, df2['review_count_x'].multiply(df2['stars_y']))
df2['biz'] = df2.business_id
del df2['business_id']

In [51]:
df2.head()

,name_x,address,neighborhood,review_count_x,stars_y,score,biz
0,TACOS EL GORDO,1724 E Charleston Blvd,Downtown,1151.0,4.5,71.968743,CiYLq33nAyghFkUR15pP-Q
1,Holsteins Shakes and Buns,3708 Las Vegas Blvd S,The Strip,2474.0,4.0,99.478641,P7pxQFqr7yBKMMI2J51udw
2,Hash House A Go Go,6800 W Sahara Ave,Westside,2835.0,4.0,106.489436,g8OnV26ywJlZpezdBnOWUQ
3,Ice Box Canyon,"Red Rock Canyon National Conservation Area, 32...",NaN,34.0,4.5,12.369317,xObQl57iTZrg8-hfMkMF6g
4,Mount Everest India's Cuisine,3641 W Sahara Ave,Westside,1015.0,4.5,67.583282,gTlDDzDEHyDQ6iwjNhpI6A

In [52]:
import numpy as np
def max_or_none(w, x, y, z):
    maximum = filter(lambda x: (x*1.0) == x, [w, x, y, z])
    try:
        return max(map(float, maximum))
    except:
        return None
def max_or_none2(u, v, w, x, y, z):
    maximum = filter(lambda x: (x*1.0) == x, [u, v, w, x, y, z])
    try:
        return max(map(float, maximum))
    except:
        return None

In [54]:
rec_df2 = rec_df.iloc[:, 0:3]
rec_df2['3_rec'] = map(max_or_none, rec_df.iloc[:, 3], rec_df.iloc[:, 4], rec_df.iloc[:, 5], rec_df.iloc[:, 6])
rec_df2['2_rec'] = map(max_or_none2, rec_df.iloc[:, 7], rec_df.iloc[:, 8], rec_df.iloc[:, 9], rec_df.iloc[:, 10], rec_df.iloc[:, 11], rec_df.iloc[:, 12])

In [55]:
rec_df2.head()

,biz_1,biz_2,at_cat_txt_us,3_rec,2_rec
0,CiYLq33nAyghFkUR15pP-Q,P7pxQFqr7yBKMMI2J51udw,NaN,0.867736,0.958863
1,CiYLq33nAyghFkUR15pP-Q,g8OnV26ywJlZpezdBnOWUQ,NaN,1.031756,1.075767
2,CiYLq33nAyghFkUR15pP-Q,gTlDDzDEHyDQ6iwjNhpI6A,NaN,0.912100,1.088990
3,CiYLq33nAyghFkUR15pP-Q,-WLrZPzjKfrftLWaCi1QZQ,1.218622,1.359026,1.196831
4,CiYLq33nAyghFkUR15pP-Q,3LWsVfsSmb_Nzbi2YQ-NIA,0.986683,1.164389,1.134162

In [56]:
def two_biz_one(x, y, zlist):
    if x in zlist:
        return x
    if y in zlist:
        return y
    else:
        print 'oh no, something is wrong'
        return

    
rest_list = ['P7pxQFqr7yBKMMI2J51udw', '3LWsVfsSmb_Nzbi2YQ-NIA', 'g8OnV26ywJlZpezdBnOWUQ']
#trimmed = trim_df(rest_list)
#trimmed[map(lambda x,y: str(x)==i or str(y)==i, trimmed.biz_1, trimmed.biz_2)]
#map(two_biz_one, trimmed.biz_1[0:10], trimmed.biz_2[0:10])

In [57]:
shortened = rec_df2[map(lambda x: x == x, rec_df2['2_rec'])]

In [59]:
shortened['biz'] = pd.Series([None] * len(shortened))

In [60]:
shortened.to_pickle('shortened.pkl')

In [61]:
shortened_ind = shortened[map(lambda x, y: ((x in rest_list) or (y in rest_list)), shortened.biz_1, shortened.biz_2)]

In [62]:
shortened_ind['biz'] = map(lambda x, y: (x if y in rest_list else y), shortened_ind.biz_1, shortened_ind.biz_2)
del shortened_ind['biz_1']
del shortened_ind['biz_2']

/Users/ethanweber/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [63]:
shortened_ind =  shortened_ind.reset_index()
del shortened_ind['index']

In [64]:
shortened_ind.head()

   at_cat_txt_us     3_rec     2_rec                     biz
0            NaN  0.867736  0.958863  CiYLq33nAyghFkUR15pP-Q
1            NaN  1.031756  1.075767  CiYLq33nAyghFkUR15pP-Q
2       0.986683  1.164389  1.134162  CiYLq33nAyghFkUR15pP-Q
3            NaN  0.786934  1.006401  P7pxQFqr7yBKMMI2J51udw
4            NaN  0.278287  0.977705  gTlDDzDEHyDQ6iwjNhpI6A

In [65]:
import scipy
from scipy import stats

def gmean(x):
    try:
        return scipy.stats.mstats.gmean(filter(lambda z: z == z, x))
    except:
        pass


print 'x =', x

x = 14.0945974641

In [66]:
gmean_df = shortened_ind.groupby('biz').agg(gmean)

/Users/ethanweber/anaconda/lib/python2.7/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)
/Users/ethanweber/anaconda/lib/python2.7/site-packages/numpy/core/_methods.py:70: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/ethanweber/anaconda/lib/python2.7/site-packages/scipy/stats/stats.py:307: RuntimeWarning: divide by zero encountered in log
  log_a = np.log(np.array(a, dtype=dtype))

In [67]:
gmean_df['biz'] = gmean_df.index

In [68]:
gmean_df.head()

,at_cat_txt_us,3_rec,2_rec,biz
biz,,,,
--9e1ONYQuAa-CB_Rrw7Tw,0.816920,0.969530,1.028570,--9e1ONYQuAa-CB_Rrw7Tw
-3zffZUHoY8bQjGfPSoBKQ,0.883994,0.817150,1.045016,-3zffZUHoY8bQjGfPSoBKQ
-8R_-EkGpUhBk55K9Dd4mg,NaN,0.920900,1.011229,-8R_-EkGpUhBk55K9Dd4mg
-9YyInW1wapzdNZrhQJ9dg,NaN,0.610171,0.909107,-9YyInW1wapzdNZrhQJ9dg
-AD5PiuJHgdUcAK-Vxao2A,0.000000,1.010968,1.050015,-AD5PiuJHgdUcAK-Vxao2A

In [69]:
df2.head()

,name_x,address,neighborhood,review_count_x,stars_y,score,biz
0,TACOS EL GORDO,1724 E Charleston Blvd,Downtown,1151.0,4.5,71.968743,CiYLq33nAyghFkUR15pP-Q
1,Holsteins Shakes and Buns,3708 Las Vegas Blvd S,The Strip,2474.0,4.0,99.478641,P7pxQFqr7yBKMMI2J51udw
2,Hash House A Go Go,6800 W Sahara Ave,Westside,2835.0,4.0,106.489436,g8OnV26ywJlZpezdBnOWUQ
3,Ice Box Canyon,"Red Rock Canyon National Conservation Area, 32...",NaN,34.0,4.5,12.369317,xObQl57iTZrg8-hfMkMF6g
4,Mount Everest India's Cuisine,3641 W Sahara Ave,Westside,1015.0,4.5,67.583282,gTlDDzDEHyDQ6iwjNhpI6A

In [73]:
final_recs = pd.merge(gmean_df, df2, how = 'left', on = 'biz')

In [101]:
final_recs[map(lambda x: x in ['fL-b760btOaGa85OJ9ut3w', 'QJatAcxYgK1Zp9BRZMAx7g', 'g8OnV26ywJlZpezdBnOWUQ'], final_recs['biz'])]

,at_cat_txt_us,3_rec,2_rec,biz,name_x,address,neighborhood,review_count_x,stars_y,score
1670,1.018390,0.871167,1.094324,QJatAcxYgK1Zp9BRZMAx7g,Shake Shack,"New York New York Hotel & Casino, 3790 Las Veg...",The Strip,2091.0,4.0,91.454907
2677,0.920404,0.773938,0.941236,fL-b760btOaGa85OJ9ut3w,Rollin Smoke Barbeque,3185 S Highland Dr,NaN,1996.0,4.5,94.773414
2718,0.507045,0.768564,1.007993,g8OnV26ywJlZpezdBnOWUQ,Hash House A Go Go,6800 W Sahara Ave,Westside,2835.0,4.0,106.489436

In [96]:
columns = ['biz', 'score']
first_recs = pd.DataFrame(index = None, columns = columns)

In [79]:
def score_funct(x, y):
    try:
        return x*y
    except:
        pass

In [ ]:
rec_list = []

In [80]:
first_recs['biz'] = final_recs.biz
first_recs['score'] = map(score_funct, final_recs.at_cat_txt_us, final_recs.score)

In [81]:
first_recs.head()

                      biz      score
0  --9e1ONYQuAa-CB_Rrw7Tw  59.157659
1  -3zffZUHoY8bQjGfPSoBKQ  41.160326
2  -8R_-EkGpUhBk55K9Dd4mg        NaN
3  -9YyInW1wapzdNZrhQJ9dg        NaN
4  -AD5PiuJHgdUcAK-Vxao2A   0.000000

In [85]:
#first_recs[filter(lambda x: x == x and x > 0, first_recs.score)]
first_recs.sort(columns = 'score', ascending = False)

/Users/ethanweber/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                         biz       score
2502  cYwJA2A6I12KNkm2rtXd5g  129.084454
1297  K7lWdNUhCbcnEvI0NhGewg  105.382859
1770  RwMLuOkImBIqqYj4SSKSPg  101.342731
1670  QJatAcxYgK1Zp9BRZMAx7g   93.136767
2677  fL-b760btOaGa85OJ9ut3w   87.229872
1540  OETh78qcgDltvHULowwhJg   82.122902
237   2weQS-RnoOBhb1KsHKyoSQ   75.042192
818   CiYLq33nAyghFkUR15pP-Q   71.010349
1938  UNI1agsPX2k3eJSJVB91nw   68.073525
2349  _w5hBpkjHs5_Hv3pLeHtIw   67.494926
2145  XZbuPXdyA0ZtTu3AzqtQhg   65.734258
1167  I6EDDi4-Eq_XlFghcDCUhw   65.544606
1943  UPIYuRaZvknINOd1w8kqRQ   61.776070
2295  ZkGDCVKSdf8m76cnnalL-A   61.326608
2159  XnJeadLrlj9AZB8qSdIR2Q   60.546334
0     --9e1ONYQuAa-CB_Rrw7Tw   59.157659
2266  ZAuAwz1ijuydn5yL3q3rzA   58.514413
524   7sb2FYLS2sejZKxRYF9mtg   57.034470
1226  J4CATH00YZrq8Bne2S4_cw   56.963105
1861  TCWMgOiV0PxQkWE1SyBIWQ   56.857826
2635  eaNenRk_liZBERFFLCXqqQ   56.248232
1736  RNi6tW22UMgHwWLAb0mYdA   55.988756
1375  LR0qF0FEVsCOhYWUOiH26A   55.903510
1286  JyxHvtj-syke7m9rbza7mA   54.828932
1193  IT_4EEIbv6Ox1jBRMyE7pg   54.684616
2718  g8OnV26ywJlZpezdBnOWUQ   53.994886
2667  f9sU31meK0bqAD7922sCog   53.865594
2075  WRQ-9LluyivReFiQZFUujw   51.782823
2461  bpRo8L8dkhgbJhdIKa9mwA   50.471610
116   0q_BHpxbikVtPRRLRu-U0g   50.388574
...                      ...         ...
3681  zTr86H7j2bKQT13KBhBpPQ         NaN
3682  zU9w_xRlQSRIYXxGo-HSOA         NaN
3683  zW0a510NN0P2n4tqKeIRBw         NaN
3684  zXBrfL_ohYMuBZWvF8EcSA         NaN
3685  zXR-C_clfbCksI0cIDrl4g         NaN
3686  zY6f_cFY8HTI3hLlJj3SOg         NaN
3687  zZn22GJCl6f2fCrnUBQhcA         NaN
3688  z_1n_57ANGutdEnfbWpTGw         NaN
3689  z_46RY-L3vcMrH3-wxCp9w         NaN
3690  zb8kMYcte7WLcB-7CG3vNg         NaN
3691  zcScEL0WEdFkROcnz5379g         NaN
3692  zcgArjObRzQRH6MaqTPDmQ         NaN
3693  zcpfOE1tBET_5YUjq8y11g         NaN
3694  zdE82PiD6wquvjYLyhOJNA         NaN
3695  zdcesxBdjljRgS0QmCgkBg         NaN
3696  ze8qCibT7XPZ1z4xbOAezA         NaN
3697  zesysZuscMHxBl9uIQXIIw         NaN
3698  zf1h0aVL8-Jl91F-mDxZEg         NaN
3699  zhB2gbdNbaFwo2nWEArtLA         NaN
3700  zjvnqTjBp56NhMp1GrlO5g         NaN
3701  znWHLW1pt19HzW1VY6KfCA         NaN
3702  zp-K5s3pGTWuuaVBWo6WZA         NaN
3703  zpoZ6WyQUYff18-z4ZU1mA         NaN
3704  zrMpy_uQ5_77YapMkp8lUA         NaN
3705  zsQk990PubOHjr1YcLkQFw         NaN
3706  zsT04OrUZ25WILxbp1S3XQ         NaN
3707  zt9RLUIU32fZYOBh2L0NNQ         NaN
3708  zuwba6QEBIDZT0tJZmNhdQ         NaN
3709  zv2-8DTIqciqDmgURXujJw         NaN
3710  zwNC-Ow4eIMan2__bS9-rg         NaN

[3711 rows x 2 columns]

In [ ]:
trimmed = trim_df(['P7pxQFqr7yBKMMI2J51udw', '3LWsVfsSmb_Nzbi2YQ-NIA'])
def get_multipliers(trimmed, rest_list = rest_list):
    temp_df = rec_df[map(lambda x: x = rest_list, rec_df.biz_1) or map(lambda x: x in rest_list, rec_df.biz_2)]

In [ ]:
#rest_list = ['P7pxQFqr7yBKMMI2J51udw', '3LWsVfsSmb_Nzbi2YQ-NIA']
columns = ['biz', 'at_cat_txt_us', '3_rec', '2_rec']

df_final = pd.DataFrame(index = [], columns = columns)
df_final

In [ ]:
def trim_df(df, rest_list):
    df_final = pd.DataFrame(index = [], columns = ['biz', 'at_cat_txt_us', '3_rec', '2_rec'])
    for i in rest_list:
        x = df[map(lambda x,y: str(x)== i or str(y)== i, df.biz_1, df.biz_2)]
        x = x.reset_index()
        del x['index']
        x['biz'] = pd.Series()
        for j in range(len(x)):
            biz = (two_biz_one(x.biz_1[j], x.biz_2[j], rest_list))
            x['biz'][j] = (biz)
        df_final = df_final.append(x.groupby('biz')['at_cat_txt_us', '3_rec', '2_rec'].mean())
    return df_final

In [ ]:
trim_df(rec_df2[:1000, ['LYWbyu1EQM2o5hwHG5_Ldg', 'gTlDDzDEHyDQ6iwjNhpI6A']])

In [ ]:
#trimmed = trimmed.reset_index()

trimmed = trim_df(rest_list)
trimmed[map(lambda x,y: str(x)==i or str(y)==i, trimmed.biz_1, trimmed.biz_2)]

#trimmed.biz_1
#trimmed.biz_1[1]
#trimmed.biz_1
#type(i)
#trimmed.biz_2
#map(lambda x: str(x)  == i, trimmed.biz_2)
#trimmed.biz_2

In [ ]:
trimmed.d()

In [ ]:
map(lambda x,y: str(x)==i or str(y)==i, trimmed.biz_1, trimmed.biz_2)

In [ ]:
i = 'P7pxQFqr7yBKMMI2J51udw'
trimmed[map(lambda x: str(x)  == i, trimmed.biz_2) or map(lambda x: str(x) == i, trimmed.biz_1)]

In [ ]:
trimmed = trimmed.reset_index()
del trimmed['index']

In [ ]:
gm

In [ ]:
def printit(x):
    print x
    print type(x)
    return

In [ ]:
list(trimmed.columns)