In [1]:
import pandas as pd
import numpy as np

In [14]:
restaurant_df = pd.read_csv('restaurant_df.csv',index_col=0)

In [16]:
restaurant_df_BYusr = restaurant_df.groupby('user_id',as_index=False).count()

In [34]:
print "users only gave 1 review:", len(restaurant_df_BYusr[restaurant_df_BYusr.business_id == 1])
print "users only gave 2 reviews:", len(restaurant_df_BYusr[restaurant_df_BYusr.business_id == 2])
print "users only gave 3 reviews:", len(restaurant_df_BYusr[restaurant_df_BYusr.business_id == 3])
print "users only gave 4 reviews:", len(restaurant_df_BYusr[restaurant_df_BYusr.business_id == 4])
print "users only gave 5 reviews:", len(restaurant_df_BYusr[restaurant_df_BYusr.business_id == 5])
print ""

users only gave 1 review: 157698
users only gave 2 reviews: 43262
users only gave 3 reviews: 19883
users only gave 4 reviews: 11046
users only gave 5 reviews: 6783

In [35]:
len(restaurant_df_BYusr[restaurant_df_BYusr.business_id < 2])

157698

In [26]:
usr_left = pd.DataFrame(restaurant_df_BYusr[restaurant_df_BYusr.business_id >= 2].iloc[:,0])

In [27]:
restaurant_df_trim_usr = pd.merge(restaurant_df, usr_left, on='user_id', how='inner')

In [28]:
len(restaurant_df_trim_usr)

521842

In [29]:
len(restaurant_df)-len(restaurant_df_trim_usr)

157698

In [21]:
restaurant_df_trim_usr.head()

,Unnamed: 0.1,business_id,cool_review,date,funny_review,review_id,stars_rev,text,type_review,useful_review,...,fans,friends,funny_usr,name_usr,review_count_usr,type,useful_usr,yelping_since,big_cat,rm
0,9,CiYLq33nAyghFkUR15pP-Q,0,2015-08-04,0,vHiHxaxkyJj0zNKnDGh3Ng,5,These tacos are the most authentic I've ever t...,review,0.0,...,1,"[u'eopGbF5w7k_BHZLs6r7ETQ', u'rml4nXVWcvFhobSX...",0.0,Alejandro,10.0,user,14.0,2011-03-21,['Restaurants'],0
1,593,ujHiaprwCQ5ewziu0Vi9rw,7,2006-10-07,2,ihW-h9vZlp754OJklsXz3w,5,All you can eat Snow Crab legs.\n\n'Nuff said.,review,5.0,...,1321,"[u'GjzjfMaUJONRyJjNxCd54Q', u'-Al-HwEUxRW9WpBc...",9643.0,Stephy,2603.0,user,57551.0,2006-05-12,['Restaurants'],0
2,2483,-Ylpy3VyRWwubf9dysuwjQ,0,2010-05-01,0,vGU2gyIVGEFs2VeaIXbUaQ,4,Located deep inside the Forum shopping Arcade ...,review,0.0,...,0,"[u'BUB_t_Rvzs1yPEzZipkWjw', u'sZ0Qxjn12H8jjHBP...",1.0,Marc,22.0,user,5.0,2009-05-04,"['Food', 'Restaurants']",0
3,2677,41Kbugm-qmIQTt7unkALYQ,0,2010-08-16,0,fWdd7FDYd94AAzGltdM4DA,3,Went here this past weekend with another coupl...,review,0.0,...,0,"[u'PMIw_BV96GGwSWnEdypa-A', u'cfO-DZEqpWZ2V35Q...",2.0,Scrappy,30.0,user,9.0,2009-12-24,"['Restaurants', 'Nightlife']",0
4,3149,1DP5vHxJzCDbgawv0WC3yA,0,2016-06-26,0,1cEIrB12qh8EBHPxhonA6w,5,"Great vegetarian options, ask for the vegetari...",review,0.0,...,2,"[u'KSA1-A3Jj9CdWaUsx6eLKA', u'XORpp4JbjyVc8gJ1...",12.0,max,78.0,user,29.0,2007-06-09,"['Arts & Entertainment', 'Restaurants', 'Night...",0

In [36]:
most_reviewed_biz = pd.DataFrame({'count' : restaurant_df_trim_usr.groupby(["business_id"]).size()})\
                                    .reset_index().sort_values(['count'],ascending = False)

In [46]:
most_reviewed_biz=most_reviewed_biz.reset_index(drop=True)

In [53]:
#find index of 'JyxHvtj-syke7m9rbza7mA'
most_reviewed_biz[most_reviewed_biz.business_id=='3GEEy7RP6e4bT4LAiWFMFQ'].index[0]

43

In [54]:
#most_reviewed_biz_trim = 
most_reviewed_biz.iloc[40:44]

               business_id  count
40  G-5kEa6E6PD5fkBRuA7k9Q   1229
41  hihud--QRriCYZw1zZvW4g   1228
42  ugLqbAvBdRDc-gS4hpslXw   1198
43  3GEEy7RP6e4bT4LAiWFMFQ   1150

In [52]:
most_reviewed_biz_trim.head()

               business_id  count
40  G-5kEa6E6PD5fkBRuA7k9Q   1229
41  hihud--QRriCYZw1zZvW4g   1228
42  ugLqbAvBdRDc-gS4hpslXw   1198
43  3GEEy7RP6e4bT4LAiWFMFQ   1150
44  igHYkXZMLAc9UdV5VnR_AA   1149

#

In [55]:
pred_restaurant_v2 = pd.read_csv('/Users/apple/Desktop/capstone/model/pred_restaurant_pearsonr_v2.csv')

In [64]:
v2_unique = list(pred_restaurant_v2['biz1'].unique())

In [63]:
v2_inter = list(set(v2_unique).intersection(set(most_reviewed_biz.business_id)))

In [71]:
v2_funct = lambda x: (x in v2_inter) == False

In [72]:
test = most_reviewed_biz[map(v2_funct, most_reviewed_biz['business_id'])]

In [76]:
most_reviewed_biz_trim = test.reset_index(drop=True)

In [77]:
del test

# Calculate correlation

In [78]:
# Let's create a function that collect the reviews of our common reviewers
def get_biz_reviews(biz, common_reviewers):
    mask = (restaurant_df_trim_usr.user_id.isin(common_reviewers)) & (restaurant_df_trim_usr.business_id==biz)
    reviews = restaurant_df_trim_usr[mask].sort_values('user_id')
    reviews = reviews[reviews.user_id.duplicated()==False]
    return reviews

In [79]:
def common_reviewers(biz1,biz2):
    biz_1_reviewers = restaurant_df_trim_usr[restaurant_df_trim_usr.business_id == biz1].user_id
    biz_2_reviewers = restaurant_df_trim_usr[restaurant_df_trim_usr.business_id == biz2].user_id
    common_reviewers = pd.Series(list(set(biz_1_reviewers).intersection(set(biz_2_reviewers))))

In [80]:
# Importing the scipy library to measure the pearson correlation coefficient
from scipy.stats.stats import pearsonr
def calculate_correlation(biz1, biz2):
    # We start by finding the common reviewers
    biz_1_reviewers = restaurant_df_trim_usr[restaurant_df_trim_usr.business_id == biz1].user_id
    biz_2_reviewers = restaurant_df_trim_usr[restaurant_df_trim_usr.business_id == biz2].user_id
    common_reviewers = pd.Series(list(set(biz_1_reviewers).intersection(set(biz_2_reviewers))))

    # Then we look for the reviews given by common reviewers
    biz_1_reviews = get_biz_reviews(biz1, common_reviewers)
    biz_2_reviews = get_biz_reviews(biz2, common_reviewers)
    
    # Calculate the Pearson Correlation Score
    return pearsonr(biz_1_reviews.stars_rev.apply(int), biz_2_reviews.stars_rev.apply(int))[0]

In [81]:
import csv
with open("/Users/apple/Desktop/capstone/model/pred_restaurant_pearsonr_v3.csv", 'w') as csvfile:
    fieldnames = ['biz1','biz2', 'Correlation']
    writer = csv.DictWriter(csvfile, delimiter=",", fieldnames=fieldnames)
    writer.writeheader()
    top_biz = []
    for i in most_reviewed_biz_trim.business_id:
        top_biz.append(i)
    for j, biz1 in enumerate(top_biz):
        print "Calculating the correlations for:", biz1
        for biz2 in top_biz[j+1: ]:
            if biz1 != biz2:
                writer.writerow({'biz1':biz1,'biz2':biz2,'Correlation':calculate_correlation(biz1, biz2)})

Calculating the correlations for: igHYkXZMLAc9UdV5VnR_AA

/Users/apple/anaconda/envs/py27/lib/python2.7/site-packages/scipy/stats/stats.py:3029: RuntimeWarning: invalid value encountered in double_scalars
  r = r_num / r_den
/Users/apple/anaconda/envs/py27/lib/python2.7/site-packages/scipy/stats/stats.py:3024: RuntimeWarning: Mean of empty slice.
  mx = x.mean()
/Users/apple/anaconda/envs/py27/lib/python2.7/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/apple/anaconda/envs/py27/lib/python2.7/site-packages/scipy/stats/stats.py:3025: RuntimeWarning: Mean of empty slice.
  my = y.mean()

Calculating the correlations for: UNI1agsPX2k3eJSJVB91nw
Calculating the correlations for: j5nPiTwWEFr-VsePew7Sjg
Calculating the correlations for: _w5hBpkjHs5_Hv3pLeHtIw
Calculating the correlations for: H8qpFitIesth86zqR4cwYg
Calculating the correlations for: 3BCsAgo_1i4xMuTyLKMLRQ
Calculating the correlations for: N0apJkxIem2E8irTBRKnHw
Calculating the correlations for: VsewHMsfj1Mgsl2i_hio7w
Calculating the correlations for: dn_ipqbm7_jUz5X3rDez_A
Calculating the correlations for: zdE82PiD6wquvjYLyhOJNA
Calculating the correlations for: --9e1ONYQuAa-CB_Rrw7Tw
Calculating the correlations for: A5Rkh7UymKm0_Rxm9K2PJw

KeyboardInterrupt: