In [1]:
import pandas as pd

In [2]:
cat_sim = pd.read_csv('/Users/ethanweber/Desktop/categ_corr.csv', sep = '|')

In [3]:
attrib_sim = pd.read_csv('/Users/ethanweber/Desktop/attrib_corr.csv', sep = '|')

In [4]:
text_sim = pd.read_csv('/Users/ethanweber/Desktop/cosine_corr.csv', sep = '|')

In [5]:
print cat_sim.columns
print attrib_sim.columns
print text_sim.columns

Index([u'biz_1', u'biz_2', u'Euclidean'], dtype='object')
Index([u'biz_1', u'biz_2', u'Correlation'], dtype='object')
Index([u'biz_1', u'biz_2', u'Correlation'], dtype='object')

In [6]:
text_sim['text_similarity'] = text_sim.Correlation
del text_sim['Correlation']
cat_sim['cat_sim'] = cat_sim.Euclidean
del cat_sim['Euclidean']
attrib_sim['attrib_sim'] = attrib_sim.Correlation
del attrib_sim['Correlation']

In [7]:
text_sim2 = text_sim
indexer = list(text_sim.index)
indexer = map(int, indexer)
text_sim2.index = map(lambda x: x + 11431371, indexer)

In [8]:
b2 = list(text_sim.biz_1)
b1 = list(text_sim.biz_2)
text_sim['biz_1'] = b1
text_sim['biz_2'] = b2
del b1
del b2

In [9]:
text_sim = text_sim.append(text_sim2)

In [10]:
text_sim = text_sim.reset_index()
del text_sim['index']
print len(text_sim)
text_sim.head()

22862742

                    biz_1                   biz_2  text_similarity
0  --q7kSBRb0vWC8lSkXFByA  --9e1ONYQuAa-CB_Rrw7Tw         0.784047
1  -153AjTW5luZPK4omEujWA  --9e1ONYQuAa-CB_Rrw7Tw         0.891154
2  -1vfRrlnNnNJ5boOVghMPA  --9e1ONYQuAa-CB_Rrw7Tw         0.765952
3  -3zffZUHoY8bQjGfPSoBKQ  --9e1ONYQuAa-CB_Rrw7Tw         0.439879
4  -8R_-EkGpUhBk55K9Dd4mg  --9e1ONYQuAa-CB_Rrw7Tw         0.836864

In [11]:
full_df = pd.merge(attrib_sim, cat_sim, how = 'inner', on = ['biz_1', 'biz_2'])
print "attributes + correlation make... ", len(full_df)
full_df.head()

attributes + correlation make...  8374278

                    biz_1                   biz_2  attrib_sim   cat_sim
0  CiYLq33nAyghFkUR15pP-Q  P7pxQFqr7yBKMMI2J51udw    0.204178  2.449490
1  CiYLq33nAyghFkUR15pP-Q  g8OnV26ywJlZpezdBnOWUQ    0.190573  1.732051
2  CiYLq33nAyghFkUR15pP-Q  gTlDDzDEHyDQ6iwjNhpI6A    0.128220  1.414214
3  CiYLq33nAyghFkUR15pP-Q  -WLrZPzjKfrftLWaCi1QZQ    0.179217  1.732051
4  CiYLq33nAyghFkUR15pP-Q  3LWsVfsSmb_Nzbi2YQ-NIA    0.190573  2.645751

In [12]:
full_df = pd.merge(full_df, text_sim, how = 'left', on = ['biz_1', 'biz_2'])
print 'full_df + text_sim makes...', len(full_df)
full_df.head()

full_df + text_sim makes... 11194846

,biz_1,biz_2,attrib_sim,cat_sim,text_similarity
0,CiYLq33nAyghFkUR15pP-Q,P7pxQFqr7yBKMMI2J51udw,0.204178,2.449490,NaN
1,CiYLq33nAyghFkUR15pP-Q,g8OnV26ywJlZpezdBnOWUQ,0.190573,1.732051,NaN
2,CiYLq33nAyghFkUR15pP-Q,gTlDDzDEHyDQ6iwjNhpI6A,0.128220,1.414214,NaN
3,CiYLq33nAyghFkUR15pP-Q,-WLrZPzjKfrftLWaCi1QZQ,0.179217,1.732051,0.844481
4,CiYLq33nAyghFkUR15pP-Q,-WLrZPzjKfrftLWaCi1QZQ,0.179217,1.732051,0.844481

In [13]:
full_df = full_df.drop_duplicates()
len(full_df)

8374278

In [ ]:
import matplotlib.pyplot as plt
%matplotlib

In [ ]:
min(full_df.Correlation)

In [ ]:
import numpy as np

In [ ]:
'Correlation appears normal'

plt.hist(np.array(filter(lambda x: x != None, map(lambda x: x*1000.0 if (1.0*x == x) else None, full_df.Correlation))))

In [ ]:
plt.hist(np.array(filter(lambda x: x != None, map(lambda x: x*1000.0 if (1.0*x == x) else None, full_df.euclidean_dist_categories))))

In [ ]:
import math

In [ ]:
plt.hist(np.array(filter(lambda x: x != None, map(lambda x: np.log(x*1.0)*1000.0 if (1.0*x == x) else None, full_df.text_similarity))))

In [ ]:
plt.hist(np.array(filter(lambda x: x != None, map(lambda x: x*1000.0 if (1.0*x == x) else None, full_df.text_similarity))))

In [19]:
full_df['text_sim'] = full_df.text_similarity
del full_df['text_similarity']

In [20]:
text_mean = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.text_sim))).mean()
text_std = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.text_sim))).std()

In [22]:
attrib_mean = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.attrib_sim))).mean()
attrib_std = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.attrib_sim))).std()

In [23]:
cat_mean = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.cat_sim))).mean()
cat_std = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.cat_sim))).std()

In [24]:
norm_cat = lambda x: (x - cat_mean) / cat_std
norm_attrib = lambda x: (x - attrib_mean) / attrib_std
norm_text = lambda x: (x - text_mean) / text_std

In [ ]:
import numpy as np
text_mean = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.text_sim))).mean()
text_std = np.array(filter(lambda x: x != None, map(lambda x: float(x) if (1.0*x == x) else None, full_df.text_sim))).std()
full_df['text_norm'] = map(norm_text, full_df.text_sim)

In [26]:
full_df.head()

,biz_1,biz_2,attrib_sim,cat_sim,text_sim
0,CiYLq33nAyghFkUR15pP-Q,P7pxQFqr7yBKMMI2J51udw,0.204178,2.449490,NaN
1,CiYLq33nAyghFkUR15pP-Q,g8OnV26ywJlZpezdBnOWUQ,0.190573,1.732051,NaN
2,CiYLq33nAyghFkUR15pP-Q,gTlDDzDEHyDQ6iwjNhpI6A,0.128220,1.414214,NaN
3,CiYLq33nAyghFkUR15pP-Q,-WLrZPzjKfrftLWaCi1QZQ,0.179217,1.732051,0.844481
5,CiYLq33nAyghFkUR15pP-Q,3LWsVfsSmb_Nzbi2YQ-NIA,0.190573,2.645751,0.913515

In [27]:
full_df['cat_norm'] = map(norm_cat, full_df.cat_sim)
full_df['attrib_norm'] = map(norm_attrib, full_df.attrib_sim)
full_df['text_norm'] = map(norm_text, full_df.text_sim)

In [28]:
full_df.head()

,biz_1,biz_2,attrib_sim,cat_sim,text_sim,cat_norm,attrib_norm,text_norm
0,CiYLq33nAyghFkUR15pP-Q,P7pxQFqr7yBKMMI2J51udw,0.204178,2.449490,NaN,0.454151,0.089105,NaN
1,CiYLq33nAyghFkUR15pP-Q,g8OnV26ywJlZpezdBnOWUQ,0.190573,1.732051,NaN,-0.807427,-0.091798,NaN
2,CiYLq33nAyghFkUR15pP-Q,gTlDDzDEHyDQ6iwjNhpI6A,0.128220,1.414214,NaN,-1.366326,-0.920901,NaN
3,CiYLq33nAyghFkUR15pP-Q,-WLrZPzjKfrftLWaCi1QZQ,0.179217,1.732051,0.844481,-0.807427,-0.242791,0.446704
5,CiYLq33nAyghFkUR15pP-Q,3LWsVfsSmb_Nzbi2YQ-NIA,0.190573,2.645751,0.913515,0.799267,-0.091798,0.964402

In [29]:
full_df.to_pickle('capstone_df.pkl')

In [ ]:
#print "corr", max(full_df.Correlation), min(full_df.Correlation)
#print 'euclidean', max(full_df.euc_norm_categories), min(full_df.euc_norm_categories)
print "corr", np.mean(full_df.Correlation), np.median(full_df.Correlation)
print 'euclidean', np.mean(full_df.euc_norm_categories), np.median(full_df.euc_norm_categories)

In [ ]:
#print 'text', max(full_df.text_similarity[full_df.text_similarity.isnull() == False]), min([full_df.text_similarity.isnull() == False])
max(filter(lambda x: x*1.0 == x, full_df.text_similarity)), min(filter(lambda x: x*1.0 == x, full_df.text_similarity))

In [ ]:
import numpy as np
np.median(filter(lambda x: x*1.0 == x, full_df.text_similarity))

In [ ]:
np.mean((filter(lambda x: x*1.0 == x, full_df.text_similarity)))

In [ ]:
text_df['biz_1'] = map(lambda x: str(x), text_df.biz_1)
print 'one done...'
text_df['biz_2'] = map(lambda x: str(x), text_df.biz_2)

In [ ]:
attrib_cat['biz_1'] = map(lambda x: str(x), attrib_cat.biz_1)
print 'one done...'
attrib_cat['biz_2'] = map(lambda x: str(x), attrib_cat.biz_2)

In [ ]:
full_df = pd.merge(attrib_cat, text_df, how = 'inner', on = ['biz_1', 'biz_2'])
len(full_df)

In [ ]:
len(attrib_cat)

In [ ]:
(5686878)*1.0/8374278

In [ ]:
big_list =  [text_corr.biz_1, text_corr.biz_2, attrib_cat.biz_1, attrib_cat.biz_2]
#big_listog =  [text_corr.biz_1, text_corr.biz_2, attrib_cat.biz_1, attrib_cat.biz_2]

In [ ]:
big_list = map(lambda x: list(x), big_list)
big_listog = map(lambda x: list(x), big_listog)

In [ ]:
print len(big_list)
print len(big_listog)

In [ ]:
flatten = lambda l: [item for sublist in l for item in sublist]
flat_list = flatten(big_list)

In [ ]:
big_set = set(flat_list)

In [ ]:
print len(big_set)

In [ ]:
len(set(list(attrib_cat.biz_1)+list(attrib_cat.biz_2)))

In [ ]:
len(set(list(text_corr.biz_1)+ list(text_corr.biz_2,)))

In [ ]:
4782 - 4093

In [ ]:
import re
fix = lambda x: re.sub(r'\W+', '', str(x)).lower()

In [ ]:
len(set(list(big_set)))

In [ ]:
text_set = flatten([list(text_corr.biz_1), list(text_corr.biz_2)])

In [ ]:
attrib_set = flatten([list(attrib_cat.biz_1), list(attrib_cat.biz_2)])

In [ ]:
intersection = list(set(text_set) & set(attrib_set))

In [ ]:
union = list(set(list(set(text_set)) + list(set(attrib_set))))

In [ ]:
either = filter(lambda y: y != None, map(lambda x: x if ((x in intersection) == False) else None, union))

In [ ]:
def get_types(x):
    return list(set(map(lambda y: type(y), x)))

In [ ]:
get_types(flat_list)